* {
  scroll-behavior: smooth;
}

.app {
  min-height: 100vh;
  background-color: lightcyan;
  color: rgb(0, 0, 0);
  padding-top: 130px;
  padding-bottom: 70px;
}

@media (max-width: 700px) {
  .app {
    padding-top: 70px;
  }
}

.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-size: 2vw;
  padding: 4px 12px;
  border-radius: 50px;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  width: auto;
  margin: 10px auto;
}

@media (max-width: 1000px) {
  .pageTitle {
    font-size: 4.4vw;
    text-align: center;
    width: auto;
  }
}
